.allImage{
	color: white;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 1923px;
	background-position: 100%;
	background-image: url(Images/court.jpg);
	background-size: cover;	
}
.rights{
	color:white;
	position: fixed;
	bottom:10px;
}
.click{
	color:rgb(102, 255, 102);

}
table,tr,th,td{
		 border:solid 4px  red ;
		 border-collapse: collapse; 
		 border-radius: 25px 25px 25px;	 
		  margin-bottom: 20px;
		  color: yellow;
}

.NameOfTables{
		text-align: center;
		font-family: 'Hi Melody', cursive;
}
.images{
	 height:200px;
	 width:300px;
	 border-radius: 100px 100px 0 0;
	
	 float:left;
	  
	 

}	
.beforeClick{
	display: inline-block;

}

.names{
	color:#fbff0f;
	line-height: 100px;
	cursor: pointer;
	position: absolute;

}



.top5{
	position: fixed;
	top:5px;
	word-spacing: 20px;
	letter-spacing: 8px;
	font-family: Chicle, cursive;
	font-weight: lighter;
	font-size:50px;
	cursor: not-allowed;
	padding-left: 23%;
}

.logo{

	width: auto;

}
.listNames{
	position: static;
	clear: left;
	color:#96e4ff;
	cursor: move;

}

.bodyForms{
	background-color:rgb(219, 245, 255);
}
.purchase{
	text-align: center;
	font-family: 'IBM Plex Mono', monospace;
}
.purData{
	font-family: 'IBM Plex Mono', monospace;	
}
.description{
	color: white;
	font-size: 25px;
}
li{
	font-size: 20px;
}
.forms{
	padding-left:20%;
	padding-right: 20%;
}

.threeIma{

	width : 100%; 
	height : 1500px;
	min-height: 10%;
	max-height: 100%;
	z-index: -1;

}
.aboutBasketball{
	
	height:100px;
	width: 25%;
	overflow: scroll;
	position: relative;
	left: 425px;


	
}
li{
	color: white;
}
.more{
	font-family: 'Hi Melody', cursive;

}
table{
	position: absolute;

}
.hereBut{
	display: block;

}
.invisible{
	display: none;
}
